
<div class="cards-container">  <!--o offset-md-3 move a div 3 colunas para a direita (do inicio da div, desloca 3 colunas)-->
    
    <div class="card-header">
        <input class="form-control" type="text" #userInput placeholder="Pesquisar cidade">
        
        <button (click)="getCity(userInput.value)">Pesquisar</button>
    </div>

    <div class="cards-body">
        <div class="card-esquerdo">
            <div class="data-cidade-atual">
                <p class="data-atual">{{ data | date }}</p>

                <div class="nome-cidade-atual">
                    <p>{{ weather.name }}, {{ weather.sys.country }}</p>
                </div>
            </div>
   
            <div class="temperatura-atual">
                <img class="img-temperatura" src="/weatherApp/src/app/today/images/ceuLimpoDia.png">

                <p class="temperatura">{{ weather.main.temp }}°</p>
            </div>

            <div class="previsao-proximos-dias">
                
            </div>
        </div>
    
        <div class="card-direito">
            <div class="data-cidade-atual">
                <p class="data-atual">{{ data | date }}</p>

                <div class="nome-cidade-atual">
                    <p>{{ weather.name }}, {{ weather.sys.country }}</p>
                </div>
            </div>

            <table class="tabela-informacoes-clima">
                <tbody>
                    <tr>
                        <td>Umidade</td>
                        <td>{{ weather.main.humidity }}%</td>
                    </tr>
                    <tr>
                        <td>Pressão atmosférica</td>
                        <td>{{ weather.main.pressure }} hpa</td>
                    </tr>
                    <tr>
                        <td>Nascer do Sol</td>
                        <td>{{ weather.sys.sunrise * 1000 | date: 'H:mm' }}</td>
                    </tr>
                    <tr>
                        <td>Latitude</td>
                        <td>{{ weather.coord.lat }}</td>
                    </tr>
                    <tr>
                        <td>Longitude</td>
                        <td>{{ weather.coord.lon }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</div>  
